*{
    font-family: 'Martel Sans', sans-serif;
    font-weight: bold;
}
body{
    background-color: #85D4B7;
    margin: 0;
    
}
header{
    height: 486px;
}
.menu {
    background-color: #85D4B7;
    display: block;
    height: 80px;
}
.menu img {
    width: 90%;
}
nav{
    width: 100%;
    text-align: center;

}
nav img{
    padding: 10px;
}
ul{
padding: 10px;
display: inline;
}
.menu li {
    background-color: #6DCCAA;
    padding: 20px;
    border-bottom: solid #85D4B7;
  
}
.menu li:hover {
    box-shadow: black;

}
.menu a {
    text-decoration: none;
    color: black;
}
.foto1{
    height: 369px;
}
.foto1 img{
    height: 357px;
    width: 100%;
    
}
.textoimagen{
    width: 50%;
}
.contacto1{
    display: contents;
    background-color: #85D4B7;
    height: 107px;
}
.redes{
    width: 100%;
    text-align: center;
}
.redes img{
    padding: 10px 30px
}
.mail {
    width: 68px;
}
.contacto1 p {
    display: none;
}
main{
    background-color: white;
    width: 100%;
}
.primero {
    text-align: right;
}
.segundo a {
    text-decoration: none;
    color: black;
}
main article{
    padding: 10px;
}
main img{
    width: 60%;
}
.galeria {
    background-color: #85D4B7;
    display: inline-flex;
    text-align: center;
    border: solid 17px #85D4B7;
    width: 93%;
}
.galeria div{
    width: 35%;
    margin: 20px;
}

.uno img {
    width: 100%;
}

.dos img{
    width: 100%;
}
.tres img{
    padding: 0px 0px 0px 6px;
    width: 100%;
}
/* .img_xp:hover{
    opacity: 0%;

} */
footer{
    padding: 10px 10px 45px;
    background-color: lightgrey;

} 
footer div{
    text-align: center;
}
footer a {
    padding: 16px;
}
.textoimagen {
    transform: translate(10px, -298px);
    width: 50%;
    font-size: x-large;
}
.quienes{
    background-color: white;
    padding: 20px;
    border-top: solid 18px #6DCCAA;
    border-bottom: solid 18px #6DCCAA;

}
@media (min-width:800px){
    nav{
        width: 100%;
    }
  
    .menu li {
        display: inline;
        background-color: #85D4B7;;
        padding: 18px;

    }
    .menu {
        background-color: #85D4B7;
        display: inline-flex;
        height: 80px;
    }
    header{
        height: 84px;
    }
    .foto1{
        height: 540px;
    }
    .foto1 img{
        width: 100%;
        height: 678px;
    }
    .textoimagen {
        transform: translate(10px, -298px);
        width: 50%;
        font-size: x-large;
    }
    .contacto1{
        display: inline-flex;
        width: 100%;
        height: auto;
        font-size: x-large;
    }
    .contacto1 p {
        display: block;
        width: 60%;
        padding: 30px 20px;
    }
    .redes{
        padding: 30px 20px;
    }
  
    main {
        width: 100%;
        display: flex
    }
    .tres img {
        padding: 0px 0px 77px 6px;
        width: 100%;
    }
    .dos img {
        width: 100%;
    }
    .uno img {
        width: 100%;
    }
   
}